<h3>Add a new Movie:</h3>
<form>
 <div>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput>
  </mat-form-field>
 </div>
 <div>
  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <input matInput type="number">
  </mat-form-field>
 </div>
 <div>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="Christopher Nolan">Christopher Nolan</mat-option>
      <mat-option value="Tim Burton">Tim Burton</mat-option>
      <mat-option value="Joel Schumacher">Joel Schumacher</mat-option>
    </mat-select>
  </mat-form-field>
 </div>
 <div class="btn-group">
<button mat-raised-button color="primary" type="submit">Create</button><button mat-raised-button (click)="onClear()">Clear</button>

   </div>
</form>
