main {
  padding: 6rem;
}

h1 {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 4rem;
}

h2 {
  text-align: center;
  font-size: 3.6rem;
  font-style: italic;
}

section {
  margin: 5rem 0;
}
