$row-padding: 2rem;

table {
  max-width: 100%;
  width: 75rem;

  td, th {
    text-align: left;
    padding: $row-padding;
  }

  .mat-cell {
    cursor: pointer;
  }
}

button {
  user-select: none;
}

.no-data {
  padding: $row-padding;
  text-align: center;
}
